
.accordion {
  @extend .shadow-sm, .rounded-3;
  //overflow: hidden;
  background: #CAC2FF;;

  .accordion-header {
    background-color: $white;
    font-weight: $font-weight-bold;

    border: $primary 2px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .shadow-sm, .px-2, .py-2, .rounded-2 ;
  }

  .accordion-icon {
    transition: all 200ms;
  }

  &.open .accordion-icon {
    transform: rotate(-180deg);
  }
  .accordion-body {
    @extend .px-2, .py-2 ;
  }
}
