
.feature-list-item {
  cursor: pointer;
  align-items: center;
  transform-origin: center center;
  font-size: 1.2em;
  color: $white;
  line-height: 1;
  transition: all .5s ease;

  &.flex-xl-row-reverse {
    transform-origin: left center;
  }
  transform: scale(.9);

  @include media-breakpoint-up("xl") {
    transform-origin: right center;
    transform: scale(1);
  }


  &:hover {
    transform: scale(1.05);
  }

  &.active {
    font-weight: $font-weight-bolder;
    transform: scale(1.2);
    @include media-breakpoint-up(lg) {
      transform-origin: right center;
    }
  }

  .feature-icon {
    transform: scale(1.5);
  }

  svg {
    filter: drop-shadow(5px 7px 7px rgba(0, 0, 0, .1));
  }
}

.featurer-slider-wrapper {
  @include media-breakpoint-down(lg) {
    overflow-x: hidden;
  }
}

.feature-label {
  @include media-breakpoint-down("lg") {
    position: absolute;
    top: 2.2em;
    transition: opacity .1s ease;
    opacity: 0;
    .active & {
      opacity: 1;
    }
  }
}

#hug-container {
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#filo-hug {
  position: absolute;
  width: 120%;
  left: -10%;
  top: 5%;
}

#filo-scopri {
  transform: rotate(27deg);
  @extend .mb-n3;
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 32%;
    left: 29%;
    bottom: -20%;
    transform: rotate(62deg);
  }
}

#filo-download {
  position: absolute;
  width: 150%;
  left: -25%;
  top: 10%;
}

.filo-people {
  position: absolute;
  top: 35%;
  left: 5%;
}